{% extends "base.html" %}
{% block content %}

<form action="" method="POST">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">Grade</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>Freshman</option>
        <option>Sophomore</option>
        <option>Junior</option>
        <option>Senior</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputlast4">Major</label>
      <input type="major" class="form-control" id="major" placeholder="Comp Sci.">
    </div>
  </div>
  <div class="form-group">
    <label for="career1">Career 1</label>
    <input type="text" class="form-control" id="career1" placeholder="finance">
  </div>
  <div class="form-group">
    <label for="career2">Career 2</label>
    <input type="text" class="form-control" id="career2" placeholder="technology">
  </div>
  <div class="form-group">
    <label for="career3">Career 3</label>
    <input type="text" class="form-control" id="career3" placeholder="banking">
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="schoolS">School State</label>
      <input type="text" class="form-control" id="schoolState" placeholder="CA">
    </div>
    <div class="form-group col-md-6">
      <label for="schoolN">School Name</label>
      <input type="text" class="form-control" id="schoolName" placeholder="UC Chase">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="schoolGPA">School GPA</label>
      <input type="text" class="form-control" id="schoolGPA" placeholder="3.2">
    </div>
    <div class="form-group col-md-6">
      <label for="gpaScale">GPA Scale</label>
      <input type="text" class="form-control" id="gpaScale" placeholder="4.0">
    </div>
  </div>

  <div class="form-group">
    <label for="grad">Graduation Date</label>
    <input type="text" class="form-control" id="gradDate" placeholder="2020">
  </div>

  <button type="submit" class="btn btn-primary">Back</button>
  <button type="submit" class="btn btn-primary">Continue</button>
</form>


{% endblock %}